<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kwik</title>
    <link rel="stylesheet" th:href="@{/css/pico.blue.min.css}">
</head>

<body>
<div>
    <main class="container" style="padding: 1rem">
        <div class="grid">
            <article>
                <header>Temperature readings</header>
                <hr>
                <div hx-ext="ws" th:attr="ws-connect=${ws_uri}"
                     hx-on::ws-after-message="messageReceived()"
                >
                    <div id="readings">
                        <p id="no-messages" style="display: none">No readings yet.</p>
                        <!--        readings come here        -->
                    </div>

                </div>
            </article>

        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/htmx-ext-ws/ws.js}"></script>

</body>


<template>
    <div id="readings" hx-swap-oob="afterbegin" th:fragment="temperature-reading(reading)">
            <div>
                <small><span id="time" th:text="${ts}"></span></small>
                <article class="pico-color-indigo-400 pico-background-fuchsia-350">
                    <div class="pico-color-pumpkin-100">
                        It is <span id="celsius" th:text="${celsius}"></span> Celsius in the <span id="room" th:text="${room}"></span> at <span id="building" th:text="${building}"></span>
                    </div>
                </article>
                </div>
    </div>
</template>

</html>
